[Unit]
Description=Pico AI Cloudflare Tunnel
# 必须在 AI (gunicorn) 启动后才启动
Wants=pico-ai.service
After=pico-ai.service

[Service]
User=yk
#  tunnel 命令可以在任何地方运行，但我们最好还是指定项目目录
WorkingDirectory=/home/yk/ai-pi-companion
# 把 /usr/local/bin/cloudflared 替换成你自己的路径！
ExecStart=/usr/local/bin/cloudflared tunnel --url http://localhost:5000
# 同样，崩溃后自动重启
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
